@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&amp;display=swap");


.fw-bold {
    font-weight: bold;
}

.btn {
    font-size: 14px !important;
    font-weight: 400;
}

.form-control:focus, .form-control {
    background-color: #f2f9fe;
    border: 1px solid #f2f9fe;
    color: #133866 !important;;
    font-size: 14px !important;
}

@media (min-width: 576px) {

    .ms-sm-auto {
        margin-left: auto !important;
    }
}

button.btn-type:nth-child(1) {
    border-top-right-radius: 4.8px;
    border-top-left-radius: 4.8px;
}

button.btn-type:nth-child(2) {
    border-bottom-right-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
}

.sidebar .nav-link.active {
    color: #133866 !important;
}

.link-custom {
    font-weight: 800 !important;
}

.download-pdf-btn {
    font-size: 10px !important;
    padding: 4px;
}

.fetching, .updating {
    background: #6c6c6c1a;
    border-radius: 3px;
    padding: 10px;
    height: 148px;
    overflow: scroll;
}

.updating {
    height: 48px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;/*"Source Sans Pro", "Merriweather", sans-serif*/;
    
}

:root {
    --main-color: #4470c3;
}

.right-side li {
    list-style-type: none;
}

.left-side {
    background: var(--main-color);
    color: white;
}

.right-side b {
    color: var(--main-color);
    font-weight: 600;
}

.form-box-container {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.2);
}

video {
    border-radius: 10px;
    width: 100%;
}

.covid-steps p {
    font-size: 0.9em;
}

.covid-steps h6 {
    font-weight: 600;
    font-size: 1em;
}

.bottom-links {
    position: absolute;
    bottom: 0;
}

.text-black {
    color: black !important;
}

.help-image {
    max-width: 100%;
    max-height: 214px;
}

.help-image-2 {
    max-width: 100%;
    max-height: 214px;
    width: 67%;
}

.covid-steps h6 {
    color: var(--main-color);
}

.text-uppercase.btn.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
    font-size: 0.8em !important;
}

small.header-title {
    font-size: 0.7em;
    display: block;
}

.left-side h3.mb-5 {
    position: relative;
    padding-bottom: 40px;
}

.left-side h3.mb-5::after {
    content: " ";
    background: white;
    width: 31%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

section.container-fluid {
    height: 100vh
}

@media (max-width: 768px) {
    section.container-fluid {
        height: auto;
    }
}

.g-recaptcha {
    transform: scale(0.77);
}

button[type="submit"].btn-lg {
    transform: scale(1.1);
}

.form-box-container input.form-control {
    background-color: #eaebed;
    color: var(--main-color);
    text-transform: uppercase;
}